.*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.product-essential {
    align-self: center;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction:row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    padding: 70px;
    padding-top: 15px;
    padding-bottom: 30px;
    margin-top: 0px;
    background-color: white;
}
.product-essential-media{
    width: 40%;
    padding-right: 20px;
}
.product-essential-detail{
    width: 60%;
    padding-left: 20px;
}
.product-image{
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction:row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: center;
    justify-content: center;
}
.product-view-image-product{
    height: 372px;
    width: calc(100% - 82px);
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction:row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 6px;
    max-width: 100%;
    height: auto;
    width: auto;
}
.label{
    font-size: 1.5em;
    font-weight: 600;
    color: #333;
    font-family: 'Roboto',sans-serif !important;
    line-height: 1.5em;
    overflow-wrap: break-word;
    padding-bottom: 8px;
}
.product-view-sa{
    padding-bottom: 8px;
}
.product-view-sa-supplier{
    display: inline-block;
    width: 60%;
    padding-right: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-view-sa-supplier span:first-child{
    padding-right: 5px;
}
.product-view-sa-supplier a{
    color: #1ea8e3;
    font-weight: 600;
}
.product-view-sa-supplier span:nth-of-type(2){
    font-weight: 600;
}
.product-view-sa-author{
    display: inline-block;
    width: 39%;
    padding-left: 15px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-view-sa-author span:first-child{
    padding-right: 5px;
}
.product-view-sa-author a{
    color: #F39801;
    text-decoration: underline;
    font-weight: 600;
}
.product-view-sa-author span:nth-of-type(2){
    font-weight: 600;
}
.price-block{
    border-bottom: 0px;
    margin-bottom: 0px;
    padding: 8px 0;
    display: inline-block;
}
.special-price{
    font-size: 32px;
    line-height: 32px;
    color: #1e77c3;
    font-family: 'Roboto',sans-serif !important;
    font-weight: 700;
}
.old-price {  
    color:#888888; 
    text-decoration:line-through;
    font-size: 14px;
}
.product-view-additional-info{
    padding: 70px;
    padding-top: 15px;
    padding-bottom: 30px;
}
.product-view-tab-item{
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin-right: 30px;
    user-select: none;
}
.product-view-tab-content{
    overflow: hidden;
    min-height: 690px;
}
.data-table{
    border: none;
    box-shadow: none;
}
.table-label{
    display: table-cell;
    padding-left: 0 !important;
    padding-right: 70px;
    font-weight: 600;
    line-height: 1.6;
    text-align: left;
    white-space: nowrap;
    vertical-align: baseline;
    color: #777;
}
.data-table tbody th, .data-table tbody td{
    font-size: 1.1em;
}
.product-view-tab-content-additional{
    padding-bottom: 20px;
    border-bottom: 1px solid #c1c1c1;
}
.product-tabs-content{
    border: none;
}
#product-tabs-description-contents{
    display: block !important;
    margin-top: 20px;
}
#desc-content p{
    text-align: justify;
}
@keyframes fadeIn{
  from {
    opacity: 0;
  }
  to  {
    opacity: 1;
  }
}
@keyframes growth{
  from {
    transform: scale(var(--growth-from));
  }
  to  {
    transform: scale(var(--growth-to));
  }
}
#modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: fadeIn linear 0.1s;
  display: none;
}
.modal__overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}
.modal__body{
  --growth-from: 0.7;
  --growth-to: 1;
  width: 40%;
  height: 500px;
  background-color: white;
  margin: auto;
  margin-top: 60px;
  z-index: 1;
  border-radius: 5px;
  animation: growth linear 0.1s ;
}
.title-login{
  margin: 0;
  width: 100%;
  height: 100px;
  background-color: #9dc47a;
  color: white;
  text-align: center;
}
.title-login .logo_size{
  padding-top: 15px;
  margin: auto;
}
.margin-left{
  margin-left: 9%;
}
.input{
  margin-left: 9%;
  width: 80%;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
}
.btn-signin{
  width: 45%;
  height: 40px;
  background-color: rgb(111, 153, 54);
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  margin-left: 140px;
}
.btn-signin:hover{
  cursor: pointer;
  opacity: 0.75;
}
#signup{
  margin-top: 30px;
  text-align: center;
}
#sign-in{
  cursor: pointer;
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
  .modal__body{
    width: 70%;
  }
  .btn-signin{
    margin-left: 28%;
    height: 50px;
  }
}
@media only screen and (max-width: 46.1875em){
  .modal__body{
    width: 100%;
  }
  .btn-signin{
    margin-left: 27%;
    height: 50px;
  }
}