input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.0) url(/Project/img/search-icon.png) no-repeat 9px center;
  border: solid 1px  rgba(0, 0, 0, 0.0);
  padding: 9px 10px 9px 32px;
  width: 0px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
input[type=search]:focus {
  width: 150px;
  background-color: #fff;
  border-color: #66CC75;
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}
footer{
	background-color: #3f3f3f;
	color: #d5d5d5;
	padding: 10px;
}
hr.light{
	border-top: 1px solid #d5d5d5;
	width: 75%;
}
.logo_size{
  width: 50px;
  text-decoration: none;
  display: inherit;
}
.nav-color{
  background-color: ivory;
}
.black{
  color: black;
}
img{
  width: 100%;
}
.img_w_h{
  width: 100%;
  height: 700px;
}
